networks:
  app_network:
    driver: bridge

# Data to persist will be redis data, postgres data, and pgadmin data
volumes:
  postgres_data:
  pgadmin_data:
  redis_data:

services:
  db:
    container_name: postgres_db
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: always
    networks:
      - app_network

  # celery:
  #   container_name: celery_worker
  #   build:
  #     context: ./backend
  #   command: celery -A celery_worker.celery worker --loglevel=info
  #   volumes:
  #     - ./backend:/app
  #   env_file:
  #     - .env
  #   depends_on:
  #     backend:
  #       condition: service_started
  #     redis:
  #       condition: service_healthy
  #   restart: always
  #   networks:
  #     - app_network

  # flower:
  #   container_name: flower
  #   build:
  #     context: ./backend
  #   command: celery -A celery_worker.celery flower --port=5555
  #   ports:
  #     - "5556:5555"
  #   env_file:
  #     - .env
  #   depends_on:
  #     celery:
  #       condition: service_started
  #     redis:
  #       condition: service_healthy
  #   networks:
  #     - app_network

  # frontend:
  #   container_name: frontend
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "3000:3000"
  #   env_file:
  #     - .env
  #   restart: always
  #   networks:
  #     - app_network
